{% extends 'base.html' %}
{% block content %}
  <div class="px-6 pt-6 2xl:container">
    <section class="container px-4 mx-auto">
        <label for="name" class="text-gray-700">Daftar Barang</label>
        <table class="min-w-full divide-y mt-4 divide-gray-200 light:divide-gray-700">
            <thead>
              <tr>
                <th>Kode Barang</th>
                <th>Nama</th>
                <th>Stok</th>
                <th>Harga</th>
                <th>Link Gambar</th>
                <th>Jenis</th>
                <th>aksi</th>
              </tr>
            </thead>
            
            <tbody>
                {% for Barang in barangs %}
              <tr>
                <td>{{ Barang.kodebrg }}</td>
                <td>{{ Barang.nama }}</td>
                <td>{{ Barang.stok }}</td>
                <td>{{ Barang.harga }}</td>
                <td>{{ Barang.link_gbr }}</td>
                <td>{{ Barang.jenis_id_id }}</td>
                <td>
                  <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-2 border border-green-700 rounded">
                    Edit
                  </button>
                  <button class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-2 border border-red-700 rounded">
                    Hapus
                  </button>
                  
                </td>
              </tr>
              <tr>
                 {% endfor %}
            </tbody>
           
          </table>
          {% endblock %}
    </section>
</div>
